<!-- code for cookie consent modal -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#216058",
      "text": "#ffffff"
    },
    "button": {
      "background": "#ffffff",
      "text": "#216058"
    }
  },
  "theme": "classic",
  "position": "bottom-right",
  "content": {
    "message": "This website uses cookies to collect anonymous usage statistics.",
    "href": "/privacy/"
  }
})});
</script>